<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.isif.reviewandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".permission.PermissionActivity"></activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".glide.GlideActivity" />
        <activity android:name=".views.EventActivity" />
        <activity android:name=".provider.ProviderActivity" />

        <provider
            android:name=".provider.BookProvider"
            android:authorities="cn.isif.reviewandroid.book.provider"
            android:enabled="true"
            android:exported="true"
            android:process=":provider" />

        <activity android:name=".components.viewpager.ViewPagerActivity" />
        <activity android:name=".components.ComponentsActivity" />
        <activity
            android:name=".ipc.IPCSecondActivity"
            android:configChanges="screenLayout"
            android:process="cn.isif.reviewandroid.remote" />
        <activity
            android:name=".ipc.IPCFirstActivity"
            android:configChanges="screenLayout"
            android:process=":remote" />
        <activity android:name=".ipc.IPCMainActivity" />
        <activity
            android:name=".launchmode.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".launchmode.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".launchmode.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".launchmode.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".launchmode.LaunchModeActivity"
            android:label="@string/title_activity_launch_mode"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.SimpleFrontService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".services.ServiceActivity" />
        <activity android:name=".hook.HookActivity" />
        <activity android:name=".web.WebActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.SimpleIntentService" />
        <service android:name=".services.SimpleService" />
        <service android:name=".services.SimpleBindService" />
    </application>

</manifest>